.background {
    fill: none;
    pointer-events: all;
}            

/* map */
#states {
    fill: lightslategray;
}

#states .active {
    fill: crimson;
    fill-opacity: 0.9;
}

#state-borders {
    fill: none;
    stroke: #fff;
    stroke-width: 1px;
    stroke-linejoin: round;
    stroke-linecap: round;
    pointer-events: none;
}


/* titles */
h1 {
    position: absolute;
    font-family: Impact;
    top: 10px;
    left: 145px;
    color: #333;
}

h2 {
    position: absolute;
    font-family: Impact;
    font-size: 14pt;
    top: 450px;
    margin-left: 160;
    color: #333;
    padding: 10px;
}

#stateselector {
	margin-left: 10px;
	margin-top: -40px;
	font-family: Georgia, serif;
    font-size: 10pt;
}

/* table */
table, td {
    padding: 1px 4px;
    overflow: scroll;
    border-collapse: collapse;
    border-bottom: 2px solid white;
}

table.hide {
    opacity: 0;
}

table {
    font-family: Verdana;
    font-size: 8pt;
    margin-top: 90px;
}

td {
    background-color: Gainsboro;
    color: #333;
}

#table-container {
	position: absolute;
	width: 100%;
	margin-top: 10px;

}

/* search box */
#results {
    font-family: Georgia, serif;
    font-size: 10pt;
    position: relative;
    left: 10px;
    top: 350px;
}

#results #search-box {
    font-family: Georgia, serif;
    font-size: 10pt;
    height: 25px;
    width: 200px;
}

/* buttons */
button:hover {
	cursor: pointer;
}